<header>
    <div class="d-flex flex-column flex-md-row justify-content-between p-3 px-md-4
        mb-3 bg-white border-bottom shadow-sm">
        <div style="display: flex; flex-direction: row;">
            <a href="/" class="title__nav">
                <h1>Tests</h1>
            </a>
            <a  href="{% url 'myscores' %}" class="title__nav">
                <h2 class="create__nav">My scores</h2>
            </a>
            {% if user.is_authenticated %}
            <div class="title__nav" style="margin-right: 14px;">
                <h2 class="user__nav">{{user.username}} |</h2>
            </div>
            <a href="{% url 'logout' %}" class="title__nav">
                <h2 class="create__nav">Log out</h2>
            </a>
            {% else %}
            <a  href="{% url 'register' %}" class="title__nav">
                <h2 class="create__nav">Sign up</h2>
            </a>
            <a href="{% url 'login' %}" class="title__nav">
                <h2 class="create__nav">Sign in</h2>
            </a>
            {% endif %}
        </div>
        {% csrf_token %}
        <form method="GET" action="{% url 'tests_list' %}" class="form-inline my-2 my-lg-0 search__form" style="display: flex; flex-direction: row;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search test..." aria-label="Search" name="search">
            <div class="dropdown" >
                <button style="min-height: 50px; margin-left: 1vw;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Date ranges
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li style="display: flex;flex-direction: row;">
                        <div class="date__title">From</div>
                        {{ form.from_date }}
                    </li>
                    <li style="display: flex;flex-direction: row;">
                        <div class="date__title" style="margin-right: 2.6vh;">To</div>
                        {{ form.to_date }}
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button style="min-height: 50px; margin-left: 1vw;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                ORDER BY
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li style="display: flex;flex-direction: row;">
                        <input style="min-width:20px;" type="radio" name="order" id="option1" autocomplete="off" value="-" class="dropdown-item radio__sort">
                        <label for='option1' class="option__start" >First new</label>
                    </li>
                    <li style="display: flex;flex-direction: row;">
                        <input type="radio" name="order" id="option2" autocomplete="off" value="" class="dropdown-item radio__sort">
                        <label for='option2' class="option__start" >First old</label>
                    </li>
                </ul>
            </div>
            <button class="btn btn-outline-dark my-2 my-sm-0 search__btn" type="submit">Search</button>
        </form>
    </div>
</header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>